section {
	display: flex;
	margin: 5% 8%;
	margin-top: 3%;
	border: 2px solid black;
	padding: 30px;
}

section #text-box #company-name {
	font-size: 2.1rem;
	font-family: sans-serif;
	margin-top: 5%;
}

section #text-box p {
	font-size: 1.1rem;
	margin-top: 5%;
	font-family: monospace;
	margin-bottom: 10%;
	margin-right: 10px;
	line-height: 32px;
}

section #img-box {
	margin-left: 3%;
}

section #img-box img {
	width: 500px;
	height: 400px;
}

section #text-box a {
	text-decoration: none;
	color: black;
	border: 2px solid black;
	padding: 10px 23px;
	font-family: sans-serif;
	font-size: 20px;
	transition: 440ms;
	background-image: linear-gradient(black 0 0);
	background-size: 200% .08em;
	background-position: 200% 100%;
	background-repeat: no-repeat;
	transition: background-size .2s, background-position .2s .2s;
}
section #text-box a:hover {
	transition: background-size .2s .2s, background-position .2s;
	background-size: 200% 100%;
	background-position: 100% 100%;
	color: white;
}

@media only screen and (max-width: 1070px) {
	section #img-box {
		display: none;
	}

	section #text-box p {
		margin-bottom: 5%;
		margin-top: 3%;
	}
}

/* prva varijanata*/
section { border: none; }
#company-name {
	width: 450px;
	padding: 5px 0px 3px 10px;
}

#company-name::before {
	content: '';
	z-index: -1;
	position: absolute;
	transform: rotate(-1deg);
	margin-left: -10px;
	margin-top: -4px;
	width: 450px;
	height: 50px;
	background-color: orange;
}

.first::before {
	content: '';
	position: absolute;
	z-index: -1;
	width: 45px;
	height: 30px;
	background-color: lightblue;
	transform: rotate(2deg);
}

.second::before {
	content: '';
	position: absolute;
	z-index: -1;
	width: 70px;
	height: 30px;
	background-color: #bababa;
	transform: rotate(-2deg);
}
